body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    font-size: 4em;
    color: #ff69b4;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #ff69b4;
}

.id-list {
    list-style: none;
    padding: 0;
}

.id-list li {
    background-color: #ffe4e1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.back-button {
    display: block;
    width: auto;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #ff1493;
}
