body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}
.delete-container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
.delete-container h2 {
    margin-bottom: 20px;
    color: #ff69b4;
}
.delete-form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.delete-form input[type="password"],
.delete-form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffb6c1;
    border-radius: 5px;
    font-size: 1em;
}
.delete-form button {
    background-color: #ff69b4;
    color: #fff;
    cursor: pointer;
}
.delete-form button:hover {
    background-color: #ff1493;
}